.about{
    padding: 110px 70px;
    background-color: #202020;
}

.about__title{
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    font-weight: 400;
    color: white;
    padding-bottom: 23px;
    border-bottom: 1px solid #DADADA;
}

.about__info{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}

.about__info-title{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    font-weight: normal;
    margin-bottom: 25px;
}

.about__info-paragraph{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.about__info-item + .about__info-item{
    margin-left: 50px;
}

.progress{
    display: flex;
    text-align: center;
}

.progress-item{
    flex: 1;
}

.progress-bar{
    color: black;
    background-color: #3DDC84;
    padding: 9px 0;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 17px;
}

.progress-item + .progress-item .progress-bar{
    background-color: #303030;
    color: white;
}

.progress-item + .progress-item{
    flex: 4;
}

.progress-caption{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 1280px){
    .about{
        padding: 93px 50px;
    }
    .about__info-item + .about__info-item{
        margin-left: 37px;
    }

    .about__info{
        margin-bottom: 93px;
    }

    .about__info-title{
        margin-bottom: 21px;
    }
    .about__info-paragraph{
        font-size: 12px;
        line-height: 18px;
    }
    .progress-caption{
        font-weight: normal;
    }
}

@media screen and (max-width: 768px){
    .about {
        padding: 65px 18px;
    }
    .about__title{
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.04em;
        padding-bottom: 28px;
    }
    .about__info{
        margin-top: 60px;
        flex-direction: column;
        margin-bottom: 5px;
    }
    .about__info-item + .about__info-item{
        margin-left: 0;
    }
    .about__info-title{
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.04em;
        margin-bottom: 17px;
    }
    .about__info-paragraph{
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 55px;
    }
    .progress-bar{
        font-size: 11px;
        line-height: 13px;
        padding: 11px 0;
        margin-bottom: 11px;
    }
    .progress-item{
        flex: 2.2;
    }
    .progress-caption{
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        color: #A0A0A0;
    }

    
}




