.card{
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
}
.card__save-message_disactive{
    display: none;
}
.card__mark{
    display: none;
}

.card__mark-delete{
    position: absolute;
    top: 10px;
    right: 10px;
}
.card__mark__hidden{
    display: none;
}
.card__mark-delete__hidden{
    display: none;
}

.card__description-text{
    color: white;
}



.card-list-container{
    max-width: 1140px;
    margin: 0 auto;
}
.card:hover .card__save-message{
    display: block
}
.card_active:hover .card__save-message{
    display: none;
}

.card_active .card__mark{
    display: block;
}

.card__img{
    margin-bottom: 14px;
    position: relative;
}

.card__mark{
    position: absolute;
    right: 14px;
    top: 14px;
}

.card__img-item{
    width: 100%;
}

.card__description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__description-time{
    padding: 3px 4px;
    color: #8B8B8B;
    font-size: 11px;
    line-height: 10px;
    background-color: #2F2F2F;
    min-width: 50px;
}

.card__save-message{
    display: none;
    position: absolute;
    right: 14px;
    top: 14px;
    color: white;
    padding: 6px 7px;
    font-size: 10px;
    line-height: 9px;
    border-radius: 30px;
    background: #313131;
}
.card__mark__hidden{
    display: none;
}

@media screen and (max-width: 1280px){
    .card-list-container{
        max-width: 1000px;
    }
    .card{
        max-width: 500px;
    }
}

@media screen and (max-width: 768px){
    .card-list-container{
        max-width: 400px;
    }
    .card{
        max-width: 400px;
    }
}