.page-movies{
    background: #202020;
}

.search-form{
    display: flex;
    align-items: center;
    padding-bottom: 83px;
    border-bottom: 1px solid rgba(170,170,170, 0.2);
    margin-bottom: 80px;
}

.search-form-container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.search-from__input-container{
    position: relative;
    flex: 5.5;
}

.search-form__input{
    width: 100%;
    display: block;
    padding: 15px 18px;
    border: 1.5px solid #AAAAAA;
    border-radius: 50px;
    background-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 18px;
    color: #8B8B8B;
}

.search-form__button{
    position: absolute;
    top: 7px;
    right: 0.5%;
    position: absolute;
    top: 8px;
}

.serch-form__checkbox-style{
    display: block;
    width: 36px;
    height: 20px;
    background: #3DDC84;
    border-radius: 20px;
    position: relative;
}

.search-form__figure{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 36%;
    right: 10%;
    transition: 0.2s ease-in-out;
}

.search-form__checkbox{
    display: none;
}

.search-form__checkbox:checked ~ .search-form__figure{
    right: 65%;
}

.search-form__filter{
    display: flex;
    justify-content: center;
}

.search-form__filter-description{
    font-size: 13px;
    line-height: 18px;
    padding-right: 12px;
    margin-left: 41px;
}

@media screen and (max-width: 1280px){
    .search-form{
        display: block;
        padding-bottom: 56px;
        margin-bottom: 40px;
    }
    .search-from__input-container{
        margin-bottom: 37px;
    }
    .search-form__button{
        right:1.5%;
    }
    
}

@media screen and (max-width: 768px){
    .search-form__input{
        padding: 15px 16px;
    }
    .search-form__filter{
        margin-bottom: 40px;
    }
    .search-form{
        padding-bottom: 44px;
        margin-bottom: 50px;
    }
    .search-form__button{
        right:2%;
    }
    
}